.title {
    font-size: 18px;
    font-weight: bold;
    margin:0;
}


@media (min-width: 750px) {
    
    .title {
        font-size:20px!important;
    }
}

@media (min-width: 970px) {
    .title {
        font-size:25px!important;
    }
}

@media (min-width: 1170px) {
    .title {
        font-size:30px!important;
    }
}