.menu {
  /* ========[ POSITION ]======= */
  display:flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 40px;
  background-color:#070707;
  z-index:10;

  /* =========[ COLOR ]======== */


  /* =========[ OTHER ]========= */
  overflow: hidden;
  opacity: 1;

  /* =========[ ANIMATION ]========= */
  transition: opacity 500ms 100ms;
}

.hide-menu {
  /* ========[ POSITION ]======= */

  /* =========[ ANIMATION ]========= */
  transition: opacity 500ms 0ms;

  /* =========[ OTHER ]========= */
  opacity: 0.0;
}