
.project-row {
/* ========[ POSITION ]======= */
  display:flex;
  justify-content: center;
  align-items: center;
/* =========[ FONTS ]========= */

/* =========[ COLOR ]========= */

 
/* =========[ OTHER ]========= */
max-height: 100%;
/* =======[ ANIMATION ]======= */
}